<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.persistent.dao.IRaffleActivitySkuDao">
    <resultMap id="dataMap" type="cn.bugstack.infrastructure.persistent.po.RaffleActivitySku">
        <id column="id" property="id"/>
        <result column="sku" property="sku"/>
        <result column="activity_id" property="activityId"/>
        <result column="activity_count_id" property="activityCountId"/>
        <result column="stock_count" property="stockCount"/>
        <result column="stock_count_surplus" property="stockCountSurplus"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryActivitySku" parameterType="java.lang.Long" resultMap="dataMap">
        select sku, stock_count, stock_count_surplus, create_time, update_time, activity_count_id, activity_id
        from raffle_activity_sku
        where sku = #{sku}
    </select>
    <select id="querySkuList" parameterType="cn.bugstack.infrastructure.persistent.po.RaffleActivitySku" resultMap="dataMap">
        select sku, stock_count, stock_count_surplus, create_time, update_time, activity_count_id, activity_id
        from raffle_activity_sku
        where 1 = 1
        <if test="sku != null and sku != ''">
            and sku = #{sku}
        </if>
        <if test="stockCount != null and stockCount != ''">
            and stock_count = #{stockCount}
        </if>
        <if test="stockCountSurplus != null and stockCountSurplus != ''">
            and stock_count_surplus = #{stockCountSurplus}
        </if>
        <if test="activityId != null and activityId != ''">
            and activity_id = #{activityId}
        </if>
        <if test="activityCountId != null and activityCountId != ''">
            and activity_count_id = #{activityCountId}
        </if>
    </select>

    <update id="updateActivitySkuStock" parameterType="java.lang.Long">
        update raffle_activity_sku
        set stock_count_surplus = stock_count_surplus - 1,
            update_time         = now()
        where sku = #{sku}
          and stock_count_surplus > 0
    </update>

    <update id="clearActivitySkuStock" parameterType="java.lang.Long">
        update raffle_activity_sku
        set stock_count_surplus = 0,
            update_time         = now()
        where sku = #{sku}
    </update>

</mapper>